CONFIG_TARGET_ipq50xx=y
CONFIG_TARGET_ipq50xx_arm=y
CONFIG_TARGET_ipq50xx_arm_DEVICE_redmi_ax3000=y
CONFIG_IB=y
# CONFIG_IB_STANDALONE is not set
CONFIG_SDK=y
CONFIG_MAKE_TOOLCHAIN=y
CONFIG_REPRODUCIBLE_DEBUG_INFO=y

CONFIG_PACKAGE_kmod-qca-nss-ecm-standard=y
CONFIG_PACKAGE_kmod-qca-nss-drv-pppoe=y

CONFIG_LUCI_LANG_zh_Hans=y
#argon
CONFIG_PACKAGE_luci-theme-argon=y
#passwall
CONFIG_PACKAGE_luci-app-netspeedtest=y
CONFIG_PACKAGE_luci-app-netspeedtest_INCLUDE_homebox=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-xlnetacc=y